@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
}
*::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Avenir Next Regular";
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.header-logo {
  width: 100%;
  background-color: #323232;
  text-align: center;
  padding: 1rem 1rem 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .header-logo {
    width: 7.5rem;
    padding: 1rem 1.5rem 1rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header-logo {
    width: 7.5rem;
    padding: 1rem 1.5rem 1rem 8rem;
  }
}
.header-logo-img {
  width: 18.5rem;
  max-width: 7.5rem;
  height: 1.25rem;
  max-height: 1.25rem;
}
.header-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-links {
    width: 33.3%;
  }
}
.header-links__biography {
  text-align: center;
  background-color: #323232;
  color: #E1E1E1;
  text-decoration: none;
  padding: 1rem 0 1rem 1rem;
  width: 45%;
  font-family: "Avenir Next Demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .header-links__biography {
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 1.5rem 0 1.5rem;
    width: 10%;
  }
}
@media screen and (min-width: 1280px) {
  .header-links__biography {
    width: 4.935625rem;
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 0 0 2rem;
  }
}
.header-links__biography:hover {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
  padding-bottom: 0.75rem;
  cursor: pointer;
  color: #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
@media screen and (min-width: 768px) {
  .header-links__biography:hover {
    padding-bottom: 1.25rem;
  }
}
.header-links__biography:focus {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
  padding-bottom: 0.75rem;
  cursor: pointer;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .header-links__biography:focus {
    padding-bottom: 1.25rem;
  }
}
.header-links__shows {
  text-align: center;
  background-color: #323232;
  color: #E1E1E1;
  text-decoration: none;
  padding: 1rem 1rem 1rem 0;
  width: 45%;
  font-family: "Avenir Next Demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .header-links__shows {
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 1.5rem 0 1.5rem;
    width: 3.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .header-links__shows {
    width: 3.4375rem;
    padding: 1.5rem 0 1.5rem 0;
    margin: 0 0 0 1rem;
  }
}
.header-links__shows:hover {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
  padding-bottom: 0.75rem;
  cursor: pointer;
  color: #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
@media screen and (min-width: 768px) {
  .header-links__shows:hover {
    padding-bottom: 1.25rem;
  }
}
.header-links__shows:focus {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
  padding-bottom: 0.75rem;
  cursor: pointer;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .header-links__shows:focus {
    padding-bottom: 1.25rem;
  }
}

#target-1:target {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
  padding-bottom: 0.75rem;
  cursor: pointer;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  #target-1:target {
    padding-bottom: 1.25rem;
  }
}

#target-2:target {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
  padding-bottom: 0.75rem;
  cursor: pointer;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  #target-2:target {
    padding-bottom: 1.25rem;
  }
}

/* Footer */
.footer {
  height: 45.625rem;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2.25rem 0 2.25rem;
    height: 23.4375rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 6.5rem 0 8rem;
    height: 24.375rem;
  }
}
.footer-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-header div {
    flex-basis: 14.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-header div {
    flex-basis: 16rem;
  }
}
.footer-header__title {
  color: #FFFFFF;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2.5rem 0 0 0;
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 768px) {
  .footer-header__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 0 0 0 0;
  }
}
.footer-header__logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-header__logo {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .footer-header__logo {
    margin-left: auto;
    margin-right: 16px;
  }
}
.footer-media {
  width: 100%;
  padding: 1.5rem 0 1.5rem 0;
}
@media screen and (min-width: 768px) {
  .footer-media {
    padding: 3rem 0 3rem 0;
  }
}
.footer-card, .footer-card__email, .footer-card__address {
  width: 100%;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer-card, .footer-card__email, .footer-card__address {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer-card__name {
  padding: 1rem 0 0 0;
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 768px) {
  .footer-card__name {
    padding: 0 0 0 0;
  }
}
.footer-card__address {
  padding: 1rem 0 1rem 0;
  font-family: "Avenir Next Regular";
}
@media screen and (min-width: 768px) {
  .footer-card__address {
    padding: 1.5rem 0 1.5rem 0;
  }
}
.footer-card__email {
  font-family: "Avenir Next Regular";
  text-decoration: none;
}
.footer-logo {
  width: 100%;
  background-color: #323232;
  padding: 4rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    display: none;
  }
}
.footer-logo-img {
  width: 18.5rem;
  max-width: 7.5rem;
  height: 1.25rem;
  max-height: 1.25rem;
}
.footer-copyright {
  width: 100%;
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0 0 1rem 0;
  font-family: "Avenir Next Regular";
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    padding: 4rem 0 1.5rem 0;
  }
}

.footer-card-container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer-card-container {
    width: 48rem;
  }
}

.instagram-icon {
  width: 1.375rem;
  height: 1.375rem;
}

.facebook-icon {
  width: 0.75rem;
  height: 1.375rem;
  margin: 0 1.25rem 0 1.25rem;
}

.twitter-icon {
  width: 1.5625rem;
}

/* Hero */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 25rem;
    padding: 0 2.25rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 39rem;
    padding: 0 5rem 0 8rem;
  }
}
.hero__title {
  font-family: "Avenir Next Demi";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

/* Body */
.description {
  width: 100%;
}

.section-header {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1.5rem 1rem 1rem 1rem;
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 768px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 2.25rem 2.25rem 1.5rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-header {
    margin: 3rem 5rem 2rem 8rem;
  }
}

.band-img {
  width: 18rem;
  height: 9.375rem;
  padding: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .band-img {
    width: 38rem;
    height: 21.25rem;
    padding: 0 5rem 0 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .band-img {
    width: 54rem;
    height: 32.5rem;
    padding: 0 13rem 0 13rem;
  }
}

.quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 1rem 1rem 0 1rem;
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 768px) {
  .quote {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.5rem 5rem 0 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .quote {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.5rem 13rem 0 13rem;
    width: 56%;
  }
}

.quote-author {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 1rem 1rem 1.5rem 1rem;
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 768px) {
  .quote-author {
    padding: 1.5rem 5rem 2.25rem 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .quote-author {
    padding: 1.5rem 13rem 2.25rem 13rem;
  }
}

.sub-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 0 1rem 1rem 1rem;
  font-family: "Avenir Next Regular";
}
@media screen and (min-width: 768px) {
  .sub-header {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 5rem 1.5rem 5rem;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .sub-header {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 13rem 1.5rem 13rem;
    font-family: "Avenir Next Demi";
  }
}

@media screen and (min-width: 768px) {
  .text-container {
    display: flex;
    justify-content: baseline;
    padding: 0 5rem 1.5rem 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-container {
    display: flex;
    justify-content: baseline;
    padding: 0 13rem 1.5rem 13rem;
  }
}
@media screen and (min-width: 768px) {
  .text-container__left {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-container__left {
    margin-right: 2rem;
  }
}

.body-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0 1rem 1rem 1rem;
  font-family: "Avenir Next Regular";
}
@media screen and (min-width: 768px) {
  .body-text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 0 0 0 0;
    margin-left: 0;
    width: 18.25rem;
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .body-text {
    margin-left: 0;
    width: 50%;
  }
}

/* Gallery */
.gallery {
  background-color: #FAFAFA;
  padding: 0 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 0 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 0 0 1rem 8rem;
  }
}
.gallery__header {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem 1rem 1rem 0;
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 768px) {
  .gallery__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 2rem 1.5rem 1.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 1.5rem 2rem 0;
  }
}
.gallery__img {
  width: 18rem;
  height: 9.375rem;
  padding: 0 1rem 1rem 0;
  filter: grayscale(1);
}
.gallery__img:hover {
  filter: grayscale(0);
}
@media screen and (min-width: 768px) {
  .gallery__img {
    width: 13.5rem;
    height: 7.8125rem;
    padding: 0 1.5rem 1.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__img {
    width: 20.666669rem;
    height: 11.25rem;
    padding: 0 1rem 1rem 0;
  }
}

/* Comment Section */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 1rem 0;
  flex-grow: 1;
}

label[for=name], label[for=comment] {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0 0 0.25rem 0;
  font-family: "Avenir Next Demi";
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  label[for=name], label[for=comment] {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

label[for=comment] {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  label[for=comment] {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

input, textarea {
  border-radius: 0.25rem;
  background-color: #FAFAFA;
  width: 99%;
  height: 2.25rem;
  border-color: #E1E1E1;
  border-style: solid;
}
input[type=text]::-moz-placeholder, textarea[type=text]::-moz-placeholder {
  font-family: "Avenir Next Regular";
  color: #000000;
  padding: 0 0 0 1rem;
}
input[type=text]:-ms-input-placeholder, textarea[type=text]:-ms-input-placeholder {
  font-family: "Avenir Next Regular";
  color: #000000;
  padding: 0 0 0 1rem;
}
input[type=text]::placeholder, textarea[type=text]::placeholder {
  font-family: "Avenir Next Regular";
  color: #000000;
  padding: 0 0 0 1rem;
}
input:invalid, textarea:invalid {
  border: 1px solid #D22D2D;
}

textarea {
  height: 6.75rem;
}
textarea:invalid {
  border: 1px solid #D22D2D;
}
textarea::-moz-placeholder {
  font-family: "Avenir Next Regular";
  color: #000000;
  padding: 1rem 0 0 1rem;
}
textarea:-ms-input-placeholder {
  font-family: "Avenir Next Regular";
  color: #000000;
  padding: 1rem 0 0 1rem;
}
textarea::placeholder {
  font-family: "Avenir Next Regular";
  color: #000000;
  padding: 1rem 0 0 1rem;
}
@media screen and (min-width: 768px) {
  textarea::-moz-placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  textarea:-ms-input-placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  textarea::placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

button {
  height: 2.5rem;
  background-color: #323232;
  width: 100%;
  border-radius: 0.25rem;
  color: #FFFFFF;
  font-family: "Avenir Next Demi";
  margin: 1rem 0 0 0;
}
@media screen and (min-width: 768px) {
  button {
    width: 25%;
    margin: 1rem 0 0 auto;
  }
}

.comments {
  background-color: #FFFFFF;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    padding: 0 8rem 2.25rem 8rem;
  }
}
.comments__header {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem 0 1rem 0;
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 768px) {
  .comments__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 2.25rem 0;
  }
}
.comments__divider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .comments__divider {
    padding: 0 2.25rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__divider {
    padding: 0 16rem 0 16rem;
  }
}
.comments__default-avatar {
  height: 2.25rem;
  min-width: 2.25rem;
  background-image: url("../assets/images/Mohan-muruge.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 1.5rem 1rem 0 0;
}
@media screen and (min-width: 768px) {
  .comments__default-avatar {
    height: 3rem;
    min-width: 3rem;
  }
}
.comments__avatar {
  height: 2.25rem;
  min-width: 2.25rem;
  background-color: #E1E1E1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 1rem 0 0;
}
@media screen and (min-width: 768px) {
  .comments__avatar {
    height: 3rem;
    min-width: 3rem;
  }
}
.comments__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.comments__content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comments__container {
    padding: 0 2.25rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__container {
    padding: 0 16rem 0 16rem;
  }
}
.comments__single {
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  padding: 1rem 0 0 0;
}
.comments__name {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 768px) {
  .comments__name {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comments__timestamp {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Next Regular";
  color: #AFAFAF;
}
.comments__text {
  width: 100%;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0.5rem 0 0.5rem 0;
  font-family: "Avenir Next Regular";
}
@media screen and (min-width: 768px) {
  .comments__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.selected {
  border: 1px solid #D22D2D;
}/*# sourceMappingURL=bio.css.map */