@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;



/* Hero */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/hero-bio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;

    @include tablet {
        height: 25rem;
        padding: 0 2.25rem 0 2.25rem;
    }
    @include desktop {
        height: 39rem;
        padding: 0 5rem 0 8rem;
    }
   
    &__title {
        font-family: "Avenir Next Demi";
        @include text-style (1.5rem, 2rem);
        color: $white;

        @include tablet {
            @include text-style (3.75rem, 4.25rem);
        }
   
    }

}

/* Body */

.description {
    width: 100%;
   
}
.section-header {
    @include text-style (1.5rem, 2rem);
    margin: 1.5rem 1rem 1rem 1rem;
    font-family: "Avenir Next Demi";

    @include tablet {
        @include text-style (2.25rem, 2.75rem);
        margin: 2.25rem 2.25rem 1.5rem 2.25rem;
    }
    @include desktop {
        margin: 3rem 5rem 2rem 8rem;
    }
}
.band-img {
    width: 18rem;
    height: 9.375rem;
    padding: 0 1rem 0 1rem;

    @include tablet {
        width: 38rem;
        height: 21.25rem;
        padding: 0 5rem 0 5rem;
    }

    @include desktop {
        width: 54rem;
        height: 32.5rem;
        padding: 0 13rem 0 13rem;
    }

}
.quote {
    @include text-style (.875rem, 1.375rem);
    padding: 1rem 1rem 0 1rem;
    font-family: "Avenir Next Demi";

    @include tablet {
        @include text-style (1.5rem, 2rem);
        padding: 1.5rem 5rem 0 5rem;
    }
    @include desktop {
        @include text-style (1.5rem, 2rem);
        padding: 1.5rem 13rem 0 13rem;
        width: 56%;
    }
}
.quote-author {
    @include text-style (.875rem, 1.375rem);
    padding: 1rem 1rem 1.5rem 1rem;
    font-family: "Avenir Next Demi";

    @include tablet {
        padding: 1.5rem 5rem 2.25rem 5rem;
    }
    @include desktop {
        padding: 1.5rem 13rem 2.25rem 13rem;
    }
}   
.sub-header {
    @include text-style (.875rem, 1.375rem);
    padding: 0 1rem 1rem 1rem;
    font-family: "Avenir Next Regular";

    @include tablet {
        @include text-style (1.5rem, 2rem);
        padding: 0 5rem 1.5rem 5rem;
        font-family: "Avenir Next Demi";
    }
    @include desktop {
        @include text-style (1.5rem, 2rem);
        padding: 0 13rem 1.5rem 13rem;
        font-family: "Avenir Next Demi";
    }
}
.text-container {
    
    @include tablet {
        display: flex;
        justify-content: baseline;
        padding: 0 5rem 1.5rem 5rem;
    }
    @include desktop {
        display: flex;
        justify-content: baseline;
        padding: 0 13rem 1.5rem 13rem;
    }
    &__left {
        @include tablet {
            margin-right: 2rem;
        }
        @include desktop {
            margin-right: 2rem;
        }
    }

}
.body-text{
    @include text-style (.8125rem, 1.125rem);
    padding: 0 1rem 1rem 1rem;
    font-family: "Avenir Next Regular";
    

    @include tablet {
        @include text-style (.875rem, 1.375rem);
        padding: 0 0 0 0;
        margin-left: 0;
        width: 18.25rem;
        width: 50%;
    }
    @include desktop {
        margin-left: 0;
        width: 50%;
    }
}

/* Gallery */

.gallery {
    background-color: $alabaster;
    padding: 0 0 0 1rem;

    @include tablet {
        padding: 0 0 0 2.25rem;
    }
    @include desktop {
        padding: 0 0 1rem 8rem;
    }


    &__header {
        @include text-style (1.5rem, 2rem);
        padding: 1.5rem 1rem 1rem 0;
        font-family: "Avenir Next Demi";

        @include tablet {
            @include text-style (2.25rem, 2.75rem);
            padding: 2rem 1.5rem 1.5rem 0;
        }
        @include desktop {
            @include text-style (2.25rem, 2.75rem);
            padding: 3rem 1.5rem 2rem 0;
        }
     
    }

    &__img {
        width: 18rem;
        height: 9.375rem;
        padding: 0 1rem 1rem 0;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

        @include tablet {
            width: 13.5rem;
            height: 7.8125rem;
            padding: 0 1.5rem 1.5rem 0;
        }
        @include desktop {
            width: 20.666669rem;
            height: 11.25rem;
            padding: 0 1rem 1rem 0;
        }
    }
}

/* Comment Section */

.form {
    @include flex(column, center, flex-start);
    padding: 0 0 1rem 0;
    flex-grow: 1;
}
label[for=name] {
    @include text-style (.8125rem, 1.125rem);
    padding: 0 0 0.25rem 0;
    font-family: "Avenir Next Demi";
    color: $silver;

    @include tablet {
        @include text-style (.875rem, 1.375rem);
    }
}
label[for=comment] {
    @extend label, [for=name];
    padding-top: 1rem;

    @include tablet {
        @include text-style (.875rem, 1.375rem);
    }
}
input {
    border-radius: .25rem;
    background-color: $alabaster;
    width: 99%;
    height: 2.25rem;
    border-color: $mercury;
    border-style: solid;
    &[type=text]::placeholder {
        font-family: "Avenir Next Regular";
        color: $darkblack;
        padding: 0 0 0 1rem;
    }
}
textarea {
    @extend input;
    height: 6.75rem;
    &::placeholder {
        font-family: "Avenir Next Regular";
        color: $darkblack;
        padding: 1rem 0 0 1rem;

        @include tablet {
            @include text-style (.875rem, 1.375rem);
        }
    }
}
button {
    height: 2.5rem;
    background-color: $black;
    width: 100%;
    border-radius: .25rem;
    color: $white;
    font-family: "Avenir Next Demi";
    margin: 1rem 0 0 0;

    @include tablet {
        width: 25%;
        margin: 1rem 0 0 auto;
    }
}
.comments {
    background-color: $white;
    padding: 0 1rem 1rem 1rem;
    
    @include tablet {
        padding: 0 2.25rem 2.25rem 2.25rem
    }

    @include desktop {
        padding: 0 8rem 2.25rem 8rem;
    }

    &__header {
        @include text-style (1.5rem, 2rem);
        padding: 1.5rem 0 1rem 0;
        font-family: "Avenir Next Demi";
     

        @include tablet {
            @include text-style (2.25rem, 2.75rem);
            padding: 3rem 0 2.25rem 0;
        }
    }

    &__divider {
        @include flex(row, flex-start, flex-start);
        
        @include tablet {
            padding: 0 2.25rem 0 2.25rem;
        }

        @include desktop {
            padding: 0 16rem 0 16rem;
        }
    }

    &__default-avatar {
        height: 2.25rem;
        min-width: 2.25rem;
        background-image: url('../assets/images/Mohan-muruge.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin: 1.5rem 1rem 0 0;

        @include tablet {
            height: 3rem;
            min-width: 3rem;
        }

    }

    &__avatar {
        height: 2.25rem;
        min-width: 2.25rem;
        background-color: $mercury;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin: 0 1rem 0 0;

        @include tablet {
            height: 3rem;
            min-width: 3rem;
        }
    }

    &__content {
        @include flex(column, center, center);
        width: 100%;

        &-top {
            @include flex(row, space-between, center);
            width: 100%;
        }
    }

    &__container {
        @include tablet {
            padding: 0 2.25rem 0 2.25rem;
        }
        @include desktop {
            padding: 0 16rem 0 16rem;
        }
    }

    &__single {
        min-height: 5rem;
        @include flex(row, center, flex-start);
        width: 100%;
        border-top: 1px solid $mercury;
        border-bottom: 1px solid $mercury;
        padding: 1rem 0 0 0;
    }

    &__name {
        @include text-style (.8125rem, 1.125rem);
        font-family: "Avenir Next Demi";

        @include tablet {
            @include text-style (.875rem, 1.375rem);
        }
        
    }

    &__timestamp {
        @include text-style (.8125rem, 1.125rem);
        font-family: "Avenir Next Regular";
        color: $silver;
    }

    &__text {
        width: 100%;
        @include text-style (.8125rem, 1.125rem);
        padding: 0.5rem 0 0.5rem 0;
        font-family: "Avenir Next Regular";

        @include tablet {
            @include text-style (.875rem, 1.375rem);
        }
    }
}
.selected {
    border: 1px solid #D22D2D;
}

