@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;




/* Hero Section */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/hero-shows.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 18rem;
    padding: 0 1rem 0 1rem;

    @include tablet {
        height: 36rem;
        padding: 0 2.25rem 0 2.25rem;
    }
    @include desktop {
        height: 39rem;
        padding: 0 5rem 0 8rem;
        @include flex (row, flex-start, center);
    }
    &__text {

        @include desktop {
            width: 55%;
            @include flex (column, flex-start, flex-start);
        }  
    }
   
    &__title {
        @include text-style (.875rem, 1.125rem);
        font-family: "Avenir Next Regular";
        color: $white;
        padding: 1.5rem 0 1.5rem 0;

        @include tablet {
            @include text-style (1.5rem, 2rem); 
            padding: 4rem 0  1rem 0;  
        }

        @include desktop {
            padding: 0 0 2rem 0;
        }
    }
    &__song-name {
        font-family: "Avenir Next Demi";
        @include text-style (1.5rem, 2rem);
        color: $white;

        @include tablet {
            @include text-style (3.75rem, 4.25rem);
        }
        @include desktop {
            padding: 0 0 3rem 0;
        }
    }
}

/* SoundCloud Section */

iframe {
    padding: 1rem 0 1rem 0;
    border-radius: .25rem;


    @include tablet {
        height: 10rem;
        width: 60%;
        padding: 4rem 0 4rem 0;
    }
    @include desktop {
        height: 9rem;
        width: 40%;
    }
}
.iframe-bottom {
    display: none;
}

/* Shows Section */

.shows {
    height: 101rem;
    

    @include tablet {
        height: 38rem;
    }

    @include desktop {
        @include flex (row, flex-start, flex-start);
    }
    &__title {
        @include text-style (1.5rem, 2rem);
        font-family: "Avenir Next Demi";
        padding: 2rem 1rem 1rem 1rem;

        @include tablet {
            @include text-style (2.25rem, 2.75rem);
            padding: 3rem 2.25rem 2.25rem 2.25rem;
        }
        @include desktop {
            padding: 3rem 8rem 2.25rem 8rem;
        }
    }
}

/* Created Table for each shows card */

.table {
    padding: 0 1rem 1rem 1rem;
    width: 100%;
    
    
    @include tablet {
        display: table-cell;
        padding: 0 1.25rem 1rem 1.25rem;
        width: 96.5vw;
        
    }
    @include desktop {
        padding: 4.25rem 1.25rem 1rem 1.25rem;
        width: 61.5vw;
    }
    &__thead {
        display: none;

        @include tablet {
            display: flex;
            padding: 0 0 0 1rem;
            @include text-style (.8125rem, 1.125rem);
            font-family: "Avenir Next Regular";
            color: $silver;
            text-transform: uppercase;
            width: 79%;
        }
        @include desktop {
            padding: 0 0 2.5rem 1rem;
        }
    }
    &__header {
        @include tablet {
            text-align: left;
            flex-basis: 35.5%;

            &:nth-child(2) {
                flex-basis: 31.5%;
            }

            &:nth-child(3) {
                flex-basis: 32.5%;
            }
        }
    }
   
}
.date {
    @include text-style (.875rem, 1.375rem);
        font-family: "Avenir Next Demi";
        padding-bottom: 1rem;
        @include flex(column, flex-start, flex-start);

        @include tablet {
            padding-bottom: 0;
            flex-basis: 7.563125rem;
        }
        
    &:before {
        content: "DATE";
        
        @include text-style (.8125rem, 1.125rem);
        font-family: "Avenir Next Regular";
        color: $silver;
        padding-bottom: 0.25rem;

        @include tablet {
            display: none;
        }
    }
    
}
.venue {
    @include text-style (.875rem, 1.375rem);
    font-family: "Avenir Next Regular";
    padding-bottom: 1rem;
    @include flex(column, flex-start, flex-start);

    @include tablet {
        padding-bottom: 0;
        flex-basis: 6.26375rem;
    }

    &:before {
        content: "VENUE";
        
        @include text-style (.8125rem, 1.125rem);
        font-family: "Avenir Next Regular";
        color: $silver;
        padding-bottom: 0.25rem;

        @include tablet {
            display: none;
        }
    }
}
.location {
    @include text-style (.875rem, 1.375rem);
    font-family: "Avenir Next Regular";
    padding-bottom: 1rem;
    @include flex(column, flex-start, flex-start);

    @include tablet {
        padding-bottom: 0;
    }

    &:before {
        content: "LOCATION";
       
        @include text-style (.8125rem, 1.125rem);
        font-family: "Avenir Next Regular";
        color: $silver;
        padding-bottom: 0.25rem;

        @include tablet {
            display: none;
        }
    }
}
.button {
    height: 2.5rem;
    background-color: $black;
    width: 100%;
    border-radius: .25rem;
    color: $white;
    font-family: "Avenir Next Demi";

    @include tablet {
        width: 20%;
    }
}
tr {
    @include flex(column, flex-start, flex-start);
    height: 13.75rem;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid $mercury;

    @include tablet {
        @include flex(row, flex-start, flex-start);
        padding: 1rem 0 1rem 0;
        justify-content: space-between;
        width: 100%;

    }
    
    &:hover, td:hover {
        background-color: $alabaster;
    }
 

    @include tablet {
        height: 2.5rem;
        padding: 1rem 1rem 1rem 1rem;
        margin: 0 1.25rem 0 0;
        width: 100%;
    }    
}
.selected {
    background-color: $mercury !important;
}
